@media (min-width:766px) {
    .desktop-only {
        display:block !important;
    }
}
 
@media (max-width:767px) {
    .mobile-only {
        display:block !important;
    }
 
    .desktop-only {
        display:none !important;
    }
}