<wm-partial data-ng-controller="dynamicFieldEditorPageController" name="partial1">
    <wm-livegrid formlayout="dialog" name="livegrid3">
        <wm-grid gridfirstrowselect="true" editmode="dialog" title="" dataset="bind:Variables.Cx2FormTypeFieldsData.dataSet" navigation="Classic" name="gridFields" filtermode="multicolumn" exportformat="EXCEL" showrecordcount="true">
            <wm-grid-column binding="displayOrder" caption="Display Order" type="integer" generator="assigned" edit-widget-type="number" show="true" readonly="false"></wm-grid-column>
            <wm-grid-column binding="label" caption="Label" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
            <wm-grid-column binding="formFieldTypes.label" caption="Field Type" type="string" primary-key="false" generator="assigned" readonly="true" edit-widget-type="text" show="true" related-entity-name="FormFieldTypes"></wm-grid-column>
            <wm-grid-column binding="required" caption="Required" type="boolean" generator="assigned" edit-widget-type="checkbox" show="true" readonly="false"></wm-grid-column>
            <wm-grid-column binding="defaultValue" caption="Default Value" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
            <wm-grid-column binding="helpText" caption="Help Text" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
            <wm-grid-column binding="possibleValues" caption="Possible Selections" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
            <wm-grid-column binding="rowOperations" caption="Actions" type="custom" width="120px" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true"></wm-grid-column>
            <wm-grid-action key="addNewRow" display-name="New Field" show="true" class="btn-primary" iconclass="wi wi-plus" title="New Field" action="Widgets.dlgFormTypeField.open()" shortcutkey="" disabled="false"></wm-grid-action>
            <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="updaterowAction($event)" disabled="false"></wm-grid-row-action>
            <wm-grid-row-action key="deleterow" display-name="" show="bind:Variables.Cx2FormTypeFieldsData.dataSet.data.length > 1" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="Widgets.dlgDeleteDynamicField.open()"
            accessroles="Authenticated" disabled="false"></wm-grid-row-action>
        </wm-grid>
    </wm-livegrid>
    <wm-view class="dialog-view" name="view1">
        <wm-dialog dialogtype="design-dialog" modal="true" title="Form Field" iconclass="wi wi-file-text" name="dlgFormTypeField" on-opened="dlgFormTypeFieldOpened($event, $scope)" on-close="dlgFormTypeFieldClose($event, $scope)">
            <wm-layoutgrid name="layoutgrid10" columns="1">
                <wm-gridrow name="gridrow43">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn73" padding="unset unset 1em unset">
                        <wm-composite name="composite7" required="true">
                            <wm-label class="col-md-3 form-control-static" name="label11" caption="Field Type" fontweight="bold"></wm-label>
                            <wm-container class="col-md-9" name="container6">
                                <wm-select name="selectFormFieldType" dataset="bind:Variables.lvFormFieldTypes.dataSet" datafield="All Fields" displayfield="label" disabled="bind:!!formTypeFieldId" placeholder="Select Type"></wm-select>
                            </wm-container>
                        </wm-composite>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow41">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn71">
                        <wm-composite name="composite3_1" required="true" show="bind:!!Widgets.selectFormFieldType.datavalue.sqlType || Widgets.selectFormFieldType.datavalue.label === 'Calculated'">
                            <wm-label class="col-md-3 form-control-static" name="label8" fontweight="bold"></wm-label>
                            <wm-container class="col-md-9" name="container3_1">
                                <wm-text name="textFormFieldLabel" maxchars="120" updateon="default"></wm-text>
                            </wm-container>
                        </wm-composite>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow56">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn81">
                        <wm-grid editmode="inline" title="Possible Selections" dataset="bind:Variables.stvPossibleValues.dataSet" navigation="Classic" name="gridPossibleValues" show="bind:Widgets.selectFormFieldType.datavalue.label==='Select' || Widgets.selectFormFieldType.datavalue.label==='Multi-Select'"
                        iconclass="wi wi-more-vert" class="panel-primary">
                            <wm-grid-column binding="dataValue" caption="Selection" type="string" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                            <wm-grid-column binding="rowOperations" caption="Actions" type="custom" width="120px" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true"></wm-grid-column>
                            <wm-grid-action key="addNewRow" display-name="New Selection" show="true" class="btn-primary" iconclass="wi wi-plus" title="New Selection" action="addNewRow()" shortcutkey="" disabled="false"></wm-grid-action>
                            <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-grid-row-action>
                            <wm-grid-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-grid-row-action>
                        </wm-grid>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow44">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn74">
                        <wm-composite name="composite6" show="bind:Widgets.selectFormFieldType.datavalue.label != 'Boolean' &amp;&amp; !!Widgets.selectFormFieldType.datavalue.sqlType">
                            <wm-label class="col-md-3 form-control-static" name="label10" caption="Required" fontweight="bold"></wm-label>
                            <wm-container class="col-md-9" name="container5">
                                <wm-checkbox caption="" class="col-md-9" name="checkboxFormFieldRequired"></wm-checkbox>
                            </wm-container>
                        </wm-composite>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow42">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn72">
                        <wm-composite name="composite4_1" show="bind:!!Widgets.selectFormFieldType.datavalue.label &amp;&amp; Widgets.selectFormFieldType.datavalue.label!=='Select' &amp;&amp; Widgets.selectFormFieldType.datavalue.label!=='Multi-Select' &amp;&amp; Widgets.selectFormFieldType.datavalue.label!=='Horizontal Line' &amp;&amp; Widgets.selectFormFieldType.datavalue.label !== 'Calculated'">
                            <wm-label class="col-md-3 form-control-static" name="label9" caption="bind:!!Widgets.selectFormFieldType.datavalue.sqlType ? 'Default Value' : 'Text'" fontweight="bold"></wm-label>
                            <wm-container class="col-md-9" name="container4_1">
                                <wm-text name="textDefaultValue" show="bind:Widgets.selectFormFieldType.datavalue.label==='Text' || Widgets.selectFormFieldType.datavalue.label==='Header'" maxchars="1000" required="bind:Widgets.selectFormFieldType.datavalue.label === 'Header'"></wm-text>
                                <wm-textarea name="longTextDefault" show="bind:Widgets.selectFormFieldType.datavalue.label==='Long Text' || Widgets.selectFormFieldType.datavalue.label==='Instruction Text'" maxchars="4000" required="bind:Widgets.selectFormFieldType.datavalue.label === 'Instruction Text'"
                                placeholder="Enter text"></wm-textarea>
                                <wm-date name="dateDefaultValue" show="bind:Widgets.selectFormFieldType.datavalue.label==='Date'" datepattern="MM-dd-yyyy"></wm-date>
                                <wm-datetime name="datetimeDefaultValue" show="bind:Widgets.selectFormFieldType.datavalue.label==='Date+Time'" datepattern="MM-dd-yyyy hh:mm a"></wm-datetime>
                                <wm-checkbox caption="" class="col-md-push-3 col-md-9" name="booleanDefaultValue" margin="unset unset unset -100px" show="bind:Widgets.selectFormFieldType.datavalue.label==='Boolean'"></wm-checkbox>
                                <wm-text name="numberDefaultValue" type="number" step="1" placeholder="Enter number" show="bind:Widgets.selectFormFieldType.datavalue.label==='Number'" maxchars="38" maxvalue="99999999999999999999999999999999999999"></wm-text>
                                <wm-currency name="currencyDefaultValue" show="bind:Widgets.selectFormFieldType.datavalue.label === 'Currency'" step="0.01" maxvalue="1000000000000" minvalue="0"></wm-currency>
                            </wm-container>
                        </wm-composite>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow85">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn115_1">
                        <wm-container name="container9" show="bind:Widgets.selectFormFieldType.datavalue.label === 'Calculated'">
                            <wm-composite name="compositeFieldCalculator">
                                <wm-label class="col-md-3 control-label" name="label37" caption="Calculation"></wm-label>
                                <div class="app-container" field-calculator="" field-list="Variables.svGetCalculableFields.dataSet.content" name="container9">
                                    <wm-textarea name="calculatedDefault" placeholder="Enter equation" readonly="true" required="bind:Widgets.selectFormFieldType.datavalue.label === 'Calculated'"></wm-textarea>
                                    <wm-layoutgrid name="layoutgridFieldButtons">
                                        <wm-gridrow ng-repeat="fieldGroup in fieldGroups" name="fieldButtonRow{{$index}}">
                                            <wm-gridcolumn ng-repeat="field in fieldGroup" style="padding: 2px" columnwidth="{{12 / perRow}}" name="fieldgridcol{{$index}}">
                                                <button class="btn btn-primary btn-block" ng-click="addField(field.fieldName, $event)"><span title="{{field.label}}">{{field.label}}</span>
                                                </button>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-layoutgrid>
                                    <wm-layoutgrid name="fieldCalcLayoutGrid" class="calc-grid" columns="4">
                                        <wm-gridrow name="gridrow89">
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn121">
                                                <wm-button class="btn-primary btn-block" caption="÷" type="button" margin="unset 0.5em" name="buttonDivide" on-click="addOperation('/', $event)" shortcutkey="/"></wm-button>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn122">
                                                <wm-button class="btn-primary btn-block" caption="x" type="button" margin="unset 0.5em" name="buttonMultiply" on-click="addOperation('*', $event)" shortcutkey="*"></wm-button>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn123">
                                                <wm-button class="btn-primary btn-block" caption="-" type="button" margin="unset 0.5em" name="buttonMinus" on-click="addOperation('-', $event)" shortcutkey="-"></wm-button>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn124">
                                                <wm-button class="btn-primary btn-block" caption="+" type="button" margin="unset 0.5em" name="buttonPlus" on-click="addOperation('+', $event)" shortcutkey="+"></wm-button>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow90">
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn125">
                                                <wm-button class="btn-primary btn-block" caption="7" type="button" margin="unset 0.5em" name="buttonNumSeven" on-click="addNumber(7, $event)" shortcutkey="7"></wm-button>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn126">
                                                <wm-button class="btn-primary btn-block" caption="8" type="button" margin="unset 0.5em" name="buttonNumEight" on-click="addNumber(8, $event)" shortcutkey="8"></wm-button>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn127">
                                                <wm-button class="btn-primary btn-block" caption="9" type="button" margin="unset 0.5em" name="buttonNumNine" on-click="addNumber(9, $event)" shortcutkey="9"></wm-button>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn128">
                                                <wm-button class="btn-primary btn-block" caption="(" type="button" margin="unset 0.5em" name="buttonOpenParen" on-click="addOperation('(', $event)" shortcutkey="("></wm-button>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow91">
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn129">
                                                <wm-button class="btn-primary btn-block" caption="4" type="button" margin="unset 0.5em" name="buttonNumFour" on-click="addNumber(4, $event)" shortcutkey="4"></wm-button>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn130">
                                                <wm-button class="btn-primary btn-block" caption="5" type="button" margin="unset 0.5em" name="buttonNumFive" on-click="addNumber(5, $event)" shortcutkey="5"></wm-button>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn131">
                                                <wm-button class="btn-primary btn-block" caption="6" type="button" margin="unset 0.5em" name="buttonNumSix" on-click="addNumber(6, $event)" shortcutkey="6"></wm-button>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn132">
                                                <wm-button class="btn-primary btn-block" caption=")" type="button" margin="unset 0.5em" name="buttonCloseParen" on-click="addOperation(')', $event)" shortcutkey=")"></wm-button>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow92">
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn133">
                                                <wm-button class="btn-primary btn-block" caption="1" type="button" margin="unset 0.5em" name="buttonNumOne" on-click="addNumber(1, $event)" shortcutkey="1"></wm-button>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn134">
                                                <wm-button class="btn-primary btn-block" caption="2" type="button" margin="unset 0.5em" name="buttonNumTwo" on-click="addNumber(2, $event)" shortcutkey="2"></wm-button>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn135">
                                                <wm-button class="btn-primary btn-block" caption="3" type="button" margin="unset 0.5em" name="buttonNumThree" on-click="addNumber(3, $event)" shortcutkey="3"></wm-button>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn136">
                                                <wm-button class="btn-primary btn-block" caption="" type="button" margin="unset 0.5em" name="buttonBackspace" on-click="backspace($event)" iconclass="wi wi-backspace"></wm-button>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow93">
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn137">
                                                <wm-button class="btn-primary btn-block" caption="0" type="button" margin="unset 0.5em" name="buttonNumZero" on-click="addNumber(0, $event)" shortcutkey="0"></wm-button>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn139">
                                                <wm-button class="btn-primary btn-block" caption="." type="button" margin="unset 0.5em" name="buttonDecimalPoint" on-click="addNumber('.', $event)" shortcutkey="."></wm-button>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn140"></wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-layoutgrid>
                                </div>
                            </wm-composite>
                        </wm-container>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow45">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn75">
                        <wm-composite name="composite8" show="bind:!!Widgets.selectFormFieldType.datavalue.sqlType" padding="1em unset">
                            <wm-label class="col-md-3 form-control-static" name="label12" caption="Help Text" fontweight="bold"></wm-label>
                            <wm-container class="col-md-9" name="container7">
                                <wm-textarea name="textareaFormFieldHelpText" placeholder="Enter Tooltip Text" maxchars="2000"></wm-textarea>
                            </wm-container>
                        </wm-composite>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow86">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn116_1">
                        <wm-composite name="composite10" show="bind:(Widgets.selectFormFieldType.datavalue.label === 'Number' || Widgets.selectFormFieldType.datavalue.label === 'Calculated') &amp;&amp; !pageParams.inspectionDesignId">
                            <wm-label class="col-md-3 control-label" name="label38" caption="Automatic Fee Type"></wm-label>
                            <wm-container class="col-md-9" name="container11">
                                <wm-select name="selectAutoFeeType" placeholder="None" dataset="bind:Variables.stvAutoFeeTypes.dataSet" datafield="value" displayfield="label"></wm-select>
                            </wm-container>
                        </wm-composite>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow46">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn76">
                        <wm-composite name="composite9" required="false">
                            <wm-label class="col-md-3 form-control-static" name="label13" caption="Display Order" fontweight="bold"></wm-label>
                            <wm-container class="col-md-9" name="container8">
                                <wm-text name="textFormFieldDisplayOrder" type="number" placeholder="Enter number" datavalue="bind:Variables.Cx2FormTypeFieldsData.dataSet.data.length+1" maxvalue="1234567890" minvalue="1"></wm-text>
                            </wm-container>
                        </wm-composite>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
            <wm-dialogactions name="dialogactions1">
                <wm-button class="btn-primary" caption="Save" type="button" margin="unset 0.5em" name="buttonSaveFormField" iconclass="wi wi-save" on-click="buttonSaveFormFieldClick($event, $scope)" disabled="bind:(!Widgets.textFormFieldLabel.datavalue &amp;&amp; !!Widgets.selectFormFieldType.datavalue.sqlType) || !Widgets.selectFormFieldType.datavalue.id"></wm-button>
                <wm-button class="btn-secondary" caption="Cancel" on-click="button2Click($event, $scope)" name="button2" iconclass="wi wi-cancel"></wm-button>
            </wm-dialogactions>
        </wm-dialog>
    </wm-view>
    <wm-view class="dialog-view" name="view2">
        <wm-dialog dialogtype="design-dialog" modal="true" title="Delete Dynamic Field" iconclass="wi wi-text-fields" name="dlgDeleteDynamicField">
            <wm-layoutgrid name="layoutgrid4">
                <wm-gridrow name="gridrow18">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn34">
                        <wm-label padding="unset 0.5em" name="label13_1" caption="bind:'Are you sure you want to delete ' + (!!Widgets.gridFields.selecteditem.label ? (' the &quot;'+Widgets.gridFields.selecteditem.label+'&quot;') : ' this') +' field?'"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
            <wm-dialogactions name="dialogactions2">
                <wm-button class="btn-primary" caption="Yes" on-click="closeDialog();Variables.svDeleteDynamicField.invoke()" name="button21" iconclass="wi wi-check"></wm-button>
                <wm-button class="btn-secondary" caption="Cancel" type="button" margin="unset 0.5em" name="button22" iconclass="wi wi-cancel" on-click="Widgets.dlgDeleteDynamicField.close()"></wm-button>
            </wm-dialogactions>
        </wm-dialog>
    </wm-view>
</wm-partial>