@media (min-width: 768px) {
    .wm-app .modal-dialog[name*=lfFormTypeStatus] {
        width: 70%;
        margin: 30px auto;
    }
}

.calc-grid .app-grid-column {
    padding: 2px !important;
}

[name=layoutgridFieldButtons] button span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}