<wm-page data-ng-controller="FormsPageController" pagetitle="Forms" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-layoutgrid name="layoutgrid1">
                <wm-gridrow name="gridrow1">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn1">
                        <wm-breadcrumb dataset="bind:Variables.BreadCrumb.dataSet" name="breadcrumb1"></wm-breadcrumb>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow2">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn3">
                        <wm-layoutgrid name="layoutgrid5">
                            <wm-gridrow name="gridrow14">
                                <wm-gridcolumn columnwidth="4" name="gridcolumn24_1"></wm-gridcolumn>
                                <wm-gridcolumn columnwidth="4" name="gridcolumn28" horizontalalign="center">
                                    <wm-label padding="unset 0.5em" name="labelFormStatus" caption="bind:'Status: '+defaultObjectForSelectStatus.status" hint="bind:defaultObjectForSelectStatus.description" class="h3"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="4" name="gridcolumn25"></wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow15">
                                <wm-gridcolumn columnwidth="2" name="gridcolumn29"></wm-gridcolumn>
                                <wm-gridcolumn columnwidth="8" name="gridcolumn26" horizontalalign="center">
                                    <wm-progress name="progressStatus" datavalue="bind:currentProgress" type="success" captionplacement="inside"></wm-progress>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="2" name="gridcolumn30"></wm-gridcolumn>
                            </wm-gridrow>
                        </wm-layoutgrid>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow3">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn5_1">
                        <wm-panel iconclass="wi wi-mode-edit" autoclose="outsideClick" name="panelFormReview" title="Form Review" class="panel-primary" accessroles="CXAdmin,MunicipalityAdmin,MunicipalityEmployee">
                            <wm-layoutgrid name="layoutgrid3">
                                <wm-gridrow name="gridrow9" padding=".5em unset">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn16"></wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn17">
                                        <wm-composite name="composite1" required="false">
                                            <wm-label class="col-md-3 control-label" name="label4" caption="Status"></wm-label>
                                            <wm-container class="col-md-9" name="container2_1">
                                                <wm-select name="selectStatus" dataset="bind:Variables.FormStatus.dataSet" datafield="All Fields" displayfield="status" datavalue="bind:defaultObjectForSelectStatus"></wm-select>
                                            </wm-container>
                                        </wm-composite>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn20"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow10" padding="unset unset .5em unset">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn18"></wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn19">
                                        <wm-composite name="composite2">
                                            <wm-label class="col-md-3 control-label" name="label5" caption="Notes"></wm-label>
                                            <wm-container class="col-md-9" name="container3">
                                                <wm-textarea name="textareaNotes" placeholder="Please enter your comments"></wm-textarea>
                                            </wm-container>
                                        </wm-composite>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn21"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow11">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn21_1"></wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn22" horizontalalign="center">
                                        <wm-button class="btn-primary" caption="Update Status" type="button" margin="unset 0.5em" name="buttonUpdateStatus" on-click="Variables.UpdateFormStatusInMasterForms.invoke()" iconclass="wi wi-update"></wm-button>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn23"></wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-panel>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow4">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn6">
                        <wm-panel iconclass="wi wi-list" autoclose="outsideClick" name="panelForm" title="Form Content" class="panel-primary">
                            <wm-layoutgrid name="layoutgrid2">
                                <wm-gridrow name="gridrow6">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn8"></wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn9" horizontalalign="center">
                                        <wm-picture name="picture2" picturesource="bind:!!Variables.CurrentForm.dataSet.data[$i].municipalityId ? &quot;services/cx2/Municipalities/&quot;+Variables.CurrentForm.dataSet.data[$i].municipalityId+&quot;/content/logo&quot; : &quot;&quot;"
                                        class="muni-logo"></wm-picture>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn14"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow7">
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn10"></wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="8" name="gridcolumn11" horizontalalign="center">
                                        <wm-label padding="unset 0.5em" name="label7" class="h1" caption="bind:Variables.lvFormType.dataSet.data[$i].formType"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn15"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow44">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn104">
                                        <wm-composite name="composite4" show="bind:!!Variables.CurrentForm.dataSet.data[$i].formTitle &amp;&amp; Variables.CurrentForm.dataSet.data[$i].formTitle != '' &amp;&amp; Variables.CurrentForm.dataSet.data[$i].formTitle != 'open'">
                                            <wm-label class="col-md-3 control-label" name="label25" caption="Form Title"></wm-label>
                                            <wm-container class="col-md-9" name="container4">
                                                <wm-text name="textFormTitle" readonly="true" disabled="true" show="true" placeholder="" datavalue="bind:Variables.CurrentForm.dataSet.data[$i].formTitle"></wm-text>
                                            </wm-container>
                                        </wm-composite>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow ng-repeat="formField in Variables.svFormTypeFields.dataSet.content" name="fieldGridrow{{$index}}">
                                    <wm-gridcolumn columnwidth="12" name="fieldGridcolumn{{$index}}">
                                        <wm-composite name="fieldComposite{{$index}}" required="{{formField.required}}">
                                            <label class="col-md-3 control-label app-label" name="fieldLabel{{$index}}">
                                                {{formField.label}}
                                                <i ng-if="!!formField.helpText &amp;&amp; formField.helpText != ''" class="wi wi-help fa-lg" title="{{formField.helpText}}"></i>
                                            </label>
                                            <wm-container class="col-md-9" name="container3">
                                                <input ng-if="formField.formFieldTypes.label == 'Text'" class="form-control app-textbox" apply-styles="" role="input" focus-target="" title="" ng-model="Variables.svGetFormData.dataSet[formField.fieldName]"
                                                pattern=".*" accesskey="" ng-model-options="{ updateOn:'blur change', debounce: 0 ,allowInvalid: false}" name="fieldValue{{formField.fieldName}}" placeholder="Please enter {{formField.label}}" type="text">
                                                <input class="form-control app-textbox" apply-styles="" role="input" focus-target="" title="" ng-model="Variables.svGetFormData.dataSet[formField.fieldName]" pattern=".*" accesskey="" ng-model-options="{ updateOn:'blur change', debounce: 0 ,allowInvalid: false}"
                                                ng-if="formField.formFieldTypes.label == 'Number'" name="fieldValue{{formField.fieldName}}" placeholder="Please enter {{formField.label}}" type="number">
                                                <textarea class="form-control app-textarea" apply-styles="" role="input" focus-target="" ng-model="Variables.svGetFormData.dataSet[formField.fieldName]" title="" accesskey="" ng-model-options="{ updateOn:'blur change', debounce: 0}"
                                                ng-if="formField.formFieldTypes.label == 'Long Text'" name="fieldValue{{formField.fieldName}}" placeholder="Please enter {{formField.label}}"></textarea>
                                                <datetime-picker ng-if="formField.formFieldTypes.label == 'Date'" placeholder="Please enter {{formField.label}}" date="Variables.svGetFormData.dataSet[formField.fieldName]" name="{{formField.fieldName}}"
                                                time="false"></datetime-picker>
                                                <datetime-picker ng-if="formField.formFieldTypes.label == 'Date+Time'" placeholder="Please enter {{formField.label}}" date="Variables.svGetFormData.dataSet[formField.fieldName]" name="{{formField.fieldName}}"
                                                time="true"></datetime-picker>
                                                <div ng-if="formField.formFieldTypes.label == 'Boolean'" class="col-md-9 app-checkbox checkbox ng-scope ng-isolate-scope" style="margin-top: 0" init-widget="" role="input" name="fieldValue{{formField.fieldName}}">
                                                    <label ng-class="{unchecked: !Variables.svGetFormData.dataSet[formField.fieldName]}" style="padding-left: 0" role="button">
                                                        <input type="checkbox" ng-model="Variables.svGetFormData.dataSet[formField.fieldName]"><span class="caption ng-binding" ng-bind-html=""></span>
                                                    </label>
                                                </div>
                                            </wm-container>
                                        </wm-composite>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="formSaveControlRow">
                                    <wm-gridcolumn columnwidth="12" name="formSaveControlColumn" horizontalalign="right">
                                        <wm-button class="btn-primary" caption="Save" type="button" margin="1% 3% 1% unset" name="btnSaveFormData" iconclass="wi wi-save" on-click="Variables.svSaveFormData.invoke()" show="bind:currentProgress === 0"></wm-button>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                            <wm-spinner show="false" name="spinner1" servicevariabletotrack="svGetFormData" caption=""></wm-spinner>
                        </wm-panel>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow35">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn82" padding=".5em unset">
                        <wm-panel iconclass="wi wi-work" autoclose="outsideClick" name="panelTagVendor" title="Vendor Select" class="panel-primary" show="bind:Variables.CurrentForm.dataSet.data[$i].formTypes.vendorSelection">
                            <wm-layoutgrid name="layoutgrid12">
                                <wm-gridrow name="gridrow38">
                                    <wm-gridcolumn columnwidth="1" name="gridcolumn87"></wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="10" name="gridcolumn88">
                                        <wm-search placeholder="Search by Company Name" dataset="bind:Variables.Vendors.dataSet" searchkey="vendor.companyName" displaylabel="vendor.companyName" datafield="All Fields" name="searchVendor"></wm-search>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="1" name="gridcolumn89"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow39">
                                    <wm-gridcolumn columnwidth="1" name="gridcolumn90"></wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="10" horizontalalign="center" name="gridcolumn91">
                                        <wm-label padding="unset 0.5em" class="h4" show="bind:Widgets.searchVendor.datavalue!=undefined" caption="Details" name="label23"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="1" name="gridcolumn92"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow padding=".5em unset" name="gridrow40">
                                    <wm-gridcolumn columnwidth="1" name="gridcolumn93"></wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="10" horizontalalign="center" name="gridcolumn94">
                                        <wm-label padding="unset 0.5em" caption="bind:Widgets.searchVendor.datavalue.vendor.companyName+&quot;, &quot;+Widgets.searchVendor.datavalue.vendor.address1+&quot;, &quot;+Widgets.searchVendor.datavalue.vendor.address2+&quot;, &quot;+Widgets.searchVendor.datavalue.vendor.city+&quot;, &quot;+Widgets.searchVendor.datavalue.vendor.states.stateName+&quot; &quot;+Widgets.searchVendor.datavalue.vendor.postalCode+&quot;, &quot;+Widgets.searchVendor.datavalue.vendor.companyPhone+&quot;, &quot;+Widgets.searchVendor.datavalue.vendor.companyEmail"
                                        show="bind:Widgets.searchVendor.datavalue!=undefined" name="label24"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="1" name="gridcolumn95"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow41">
                                    <wm-gridcolumn columnwidth="1" name="gridcolumn96"></wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="10" horizontalalign="center" name="gridcolumn97">
                                        <wm-button class="btn-primary" caption="Add Vendor" type="button" margin="unset 0.5em" iconclass="wi wi-add" show="bind:Widgets.searchVendor.datavalue!=undefined" on-click="Variables.UpdateVendorForMasterForms.invoke()"
                                        name="buttonTagVendor"></wm-button>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="1" name="gridcolumn98"></wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-panel>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow5">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn7">
                        <wm-tabs name="tabs1">
                            <wm-tabpane name="tabpaneFees" title="FEES"></wm-tabpane>
                            <wm-tabpane name="tabpaneInspections" title="INSPECTIONS"></wm-tabpane>
                            <wm-tabpane name="tabpaneMessages" title="MESSAGES"></wm-tabpane>
                            <wm-tabpane name="tabpaneLocation" title="LOCATION" show="bind:showMaps">
                                <wm-livegrid formlayout="dialog" name="livegridLocation">
                                    <wm-grid gridfirstrowselect="true" editmode="dialog" title="" dataset="bind:Variables.Gis2formsData.dataSet" navigation="Classic" name="gridLocation" filtermode="multicolumn" exportformat="EXCEL">
                                        <wm-grid-column binding="gisrecords.subdivisionId" caption="Subdivision No" type="integer" generator="assigned" readonly="true" show="true" related-entity-name="Gisrecords"></wm-grid-column>
                                        <wm-grid-column binding="gisrecords.parcel" caption="Parcel" type="string" generator="assigned" readonly="true" show="true" related-entity-name="Gisrecords"></wm-grid-column>
                                        <wm-grid-column binding="gisrecords.lot" caption="Lot" type="string" generator="assigned" readonly="true" show="true" related-entity-name="Gisrecords"></wm-grid-column>
                                        <wm-grid-column binding="gisrecords.section" caption="Section" type="string" primary-key="false" generator="assigned" readonly="true" show="true" related-entity-name="Gisrecords"></wm-grid-column>
                                        <wm-grid-column binding="gisrecords.streetNumber" caption="Street Number" type="string" generator="assigned" readonly="true" show="true" related-entity-name="Gisrecords"></wm-grid-column>
                                        <wm-grid-column binding="gisrecords.streetName" caption="Street Name" type="string" generator="assigned" readonly="true" show="true" related-entity-name="Gisrecords"></wm-grid-column>
                                        <wm-grid-column binding="gisrecords.city" caption="City" type="string" primary-key="false" generator="assigned" readonly="true" show="true" related-entity-name="Gisrecords"></wm-grid-column>
                                        <wm-grid-column binding="gisrecords.inspectionZone" caption="Inspection Zone" type="string" primary-key="false" generator="assigned" readonly="true" show="true" related-entity-name="Gisrecords"></wm-grid-column>
                                        <wm-grid-column binding="rowOperations" caption="Actions" type="custom" width="120px" readonly="true" sortable="false" searchable="false" show="true"></wm-grid-column>
                                        <wm-grid-action key="addNewRow" display-name="Add Parcel" show="true" class="btn-primary" iconclass="wi wi-add" title="Add Parcel" action="Widgets.dialogAddGISRecord.open()" shortcutkey="" disabled="false"></wm-grid-action>
                                        <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pageview" title="View" action="Widgets.dialogParcel.open()" disabled="false"></wm-grid-row-action>
                                        <wm-grid-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-grid-row-action>
                                    </wm-grid>
                                    <wm-liveform novalidate="false" errormessage="" title="Gis2forms Info" formlayout="dialog" iconclass="wi wi-edit" dataset="bind:Variables.Gis2formsData.dataSet" captionalign="left" captionposition="top" name="liveformLocation">
                                        <wm-layoutgrid columns="3" name="layoutgrid6">
                                            <wm-gridrow name="gridrow16">
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn30_1">
                                                    <wm-form-field name="addedTime" displayname="Added Time" required="false" show="true" generator="assigned" primary-key="false" key="addedTime" type="timestamp" is-related="false" pc-display="true" mobile-display="true"
                                                    widget="timestamp"></wm-form-field>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn31">
                                                    <wm-form-field name="gisrecords" displayname="Gisrecords" required="false" show="true" generator="assigned" primary-key="false" key="gisrecords" type="list" is-related="true" pc-display="true" mobile-display="true"
                                                    widget="select"></wm-form-field>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn32">
                                                    <wm-form-field name="masterForms" displayname="Master Forms" required="false" show="true" generator="assigned" primary-key="false" key="masterForms" type="list" is-related="true" maxchars="255" pc-display="true"
                                                    mobile-display="true" widget="select"></wm-form-field>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow17">
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn33">
                                                    <wm-form-field name="users" displayname="Users" required="false" show="true" generator="assigned" primary-key="false" key="users" type="list" is-related="true" pc-display="true" mobile-display="true" widget="select"></wm-form-field>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn34"></wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn35"></wm-gridcolumn>
                                            </wm-gridrow>
                                        </wm-layoutgrid>
                                        <wm-form-field name="id" displayname="Id" required="true" show="false" generator="identity" primary-key="true" key="id" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                                        <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="wi wi-cancel" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action>
                                        <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
                                    </wm-liveform>
                                </wm-livegrid>
                                <wm-prefab prefabname="googlemaps" name="googlemapsLoactions" locations="bind:Variables.Gis2formsData.dataSet.data[$i].gisrecords" zoom="5" markertype="Address" address="streetNumber streetName city states.stateName"></wm-prefab>
                            </wm-tabpane>
                            <wm-tabpane name="tabpaneAttachments" title="ATTACHMENTS"></wm-tabpane>
                            <wm-tabpane name="tabpaneContacts" title="CONTACTS">
                                <wm-livegrid formlayout="dialog" name="livegrid1">
                                    <wm-grid gridfirstrowselect="true" editmode="dialog" title="" dataset="bind:Variables.SharedWithData.dataSet" navigation="Classic" name="gridSharedwith" filtermode="multicolumn" exportformat="EXCEL" showrecordcount="true">
                                        <wm-grid-column binding="usersBySharedWithUser.firstName" caption="First Name" type="string" primary-key="false" generator="assigned" readonly="true" show="true" related-entity-name="Users"></wm-grid-column>
                                        <wm-grid-column binding="usersBySharedWithUser.lastName" caption="Last Name" type="string" primary-key="false" generator="assigned" readonly="true" show="true" related-entity-name="Users"></wm-grid-column>
                                        <wm-grid-column binding="usersBySharedWithUser.email" caption="Email Address" type="string" primary-key="false" generator="assigned" readonly="true" show="true" related-entity-name="Users"></wm-grid-column>
                                        <wm-grid-column binding="createdOn" caption="Date Added" type="timestamp" generator="assigned" datepattern="MM-dd-yyyy hh:mm a" formatpattern="toDate" show="true" filterwidget="text" readonly="false"></wm-grid-column>
                                        <wm-grid-column binding="rowOperations" caption="Actions" type="custom" width="120px" readonly="true" sortable="false" searchable="false" show="true"></wm-grid-column>
                                        <wm-grid-action key="addNewRow" display-name="Add Contact" show="true" class="btn-primary" iconclass="wi wi-person-add" title="Add Contact" action="addNewRow()" shortcutkey="" disabled="false"></wm-grid-action>
                                        <wm-grid-action key="customButton" display-name="Invite Contact" title="Invite Contact" value="" iconclass="wi wi-contact-mail" class="btn-secondary" show="true" shortcutkey=""></wm-grid-action>
                                        <wm-grid-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-grid-row-action>
                                    </wm-grid>
                                    <wm-liveform novalidate="false" errormessage="" title="Add a Form Contact" formlayout="dialog" iconclass="wi wi-person-add" dataset="bind:Variables.SharedWithData.dataSet" captionalign="left" captionposition="top" name="liveformSharedwith">
                                        <wm-layoutgrid columns="1" name="layoutgrid4">
                                            <wm-gridrow name="gridrow12">
                                                <wm-gridcolumn columnwidth="12" name="gridcolumn24">
                                                    <wm-form-field name="usersBySharedWithUser" displayname="Who would you like to share this form with?" show="true" primary-key="false" generator="assigned" key="usersBySharedWithUser" type="list" is-related="true"
                                                    required="required" widget="autocomplete" placeholder="Search by Email Address" displaylabel="email" searchkey="email" orderby="email:desc"></wm-form-field>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                        </wm-layoutgrid>
                                        <wm-form-field name="usersByCreatedBy" displayname="Users By Created By" show="false" primary-key="false" generator="assigned" key="usersByCreatedBy" type="list" is-related="true" widget="select" placeholder="Select value"
                                        defaultvalue="bind:Variables.CurrentUserDetails.dataSet"></wm-form-field>
                                        <wm-form-field name="id" displayname="Id" show="false" primary-key="true" generator="identity" key="id" type="integer" readonly="readonly" required="required" step="0" widget="number" inputtype="number"
                                        placeholder=""></wm-form-field>
                                        <wm-form-field name="createdOn" displayname="Created On" show="false" primary-key="false" generator="assigned" key="createdOn" type="timestamp" widget="timestamp" placeholder="Select date time" outputformat="timestamp"
                                        defaultvalue="bind:today"></wm-form-field>
                                        <wm-form-field name="relatedGuid" displayname="Related Guid" show="false" primary-key="false" generator="assigned" key="relatedGuid" type="string" widget="text" maxchars="255" inputtype="text" placeholder="Enter value"
                                        defaultvalue="bind:pageParams.FormGUID"></wm-form-field>
                                        <wm-form-action key="save" display-name="Add" show="true" class="form-save btn-primary" iconclass="wi wi-plus" title="Add" disabled="false" type="submit" update-mode="true"></wm-form-action>
                                        <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" disabled="false" type="button" update-mode="true"></wm-form-action>
                                    </wm-liveform>
                                </wm-livegrid>
                            </wm-tabpane>
                            <wm-tabpane name="tabpaneHistory" title="HISTORY">
                                <wm-grid title="" dataset="bind:Variables.FormHistoryData.dataSet" navigation="Classic" name="grid3" filtermode="multicolumn" showrecordcount="true" exportformat="EXCEL">
                                    <wm-grid-column-group name="group1" caption="Status Update">
                                        <wm-grid-column binding="createdTime" caption="Date Modified" type="timestamp" width="20%" generator="assigned" readonly="true" datepattern="MM-dd-yyyy hh:mm a" formatpattern="toDate" show="true" filterwidget="text"></wm-grid-column>
                                        <wm-grid-column binding="formStatusesByOldStatusId.status" caption="Previous Status" type="string" width="10%" generator="assigned" readonly="true" show="true" related-entity-name="FormStatuses"></wm-grid-column>
                                        <wm-grid-column binding="formStatusesByNewStatusId.status" caption="New Status" type="string" width="10%" generator="assigned" readonly="true" show="true" related-entity-name="FormStatuses"></wm-grid-column>
                                        <wm-grid-column binding="comments" caption="Comments" type="string" width="20%" generator="assigned" readonly="true" show="true"></wm-grid-column>
                                    </wm-grid-column-group>
                                    <wm-grid-column-group name="group" caption="Updated By">
                                        <wm-grid-column binding="users.firstName" caption="First Name" type="string" width="10%" generator="assigned" readonly="true" show="true" related-entity-name="Users"></wm-grid-column>
                                        <wm-grid-column binding="users.lastName" caption="Last Name" type="string" width="10%" generator="assigned" readonly="true" show="true" related-entity-name="Users"></wm-grid-column>
                                        <wm-grid-column binding="users.email" caption="Email Address" type="string" width="20%" generator="assigned" readonly="true" show="true" related-entity-name="Users"></wm-grid-column>
                                    </wm-grid-column-group>
                                </wm-grid>
                            </wm-tabpane>
                        </wm-tabs>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow42">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn101" horizontalalign="right">
                        <wm-button class="btn-primary" caption="Submit" type="submit" margin="unset 0.5em" name="buttonSubmitForm" on-click="Variables.svSubmitForm.invoke()" iconclass="wi wi-send" show="bind:currentProgress === 0"></wm-button>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="viewAddGISRecord">
        <wm-dialog dialogtype="design-dialog" modal="true" title="Add Parcel" iconclass="wi wi-file-text" name="dialogAddGISRecord">
            <wm-dialogactions name="dialogactions1">
                <wm-button class="btn-secondary" caption="Close" on-click="closeDialog()" name="button3" iconclass="wi wi-cancel"></wm-button>
            </wm-dialogactions>
            <wm-tabs name="tabsAddGISRecord">
                <wm-tabpane name="tabpane8" title="BY ADDRESS">
                    <wm-layoutgrid name="layoutgrid8">
                        <wm-gridrow name="gridrow20">
                            <wm-gridcolumn columnwidth="1" name="gridcolumn40"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="10" name="gridcolumn41">
                                <wm-search name="searchAddress" placeholder="Search Address" dataset="bind:Variables.GISRecords.dataSet" searchkey="streetName" displaylabel="bind:$[data[$i].streetNumber]+', '+$[data[$i].streetDirection]+', '+$[data[$i].streetName]+', '+$[data[$i].city]"
                                datafield="All Fields"></wm-search>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="1" name="gridcolumn44"></wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow22">
                            <wm-gridcolumn columnwidth="1" name="gridcolumn46"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="10" name="gridcolumn47" horizontalalign="center">
                                <wm-label padding="unset 0.5em" name="label11" class="h4" show="bind:Widgets.searchAddress.datavalue!=undefined" caption="ADDRESS"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="1" name="gridcolumn48"></wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow21" padding=".5em unset">
                            <wm-gridcolumn columnwidth="1" name="gridcolumn42"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="10" name="gridcolumn43" horizontalalign="center">
                                <wm-label padding="unset 0.5em" name="label10" caption="bind:Widgets.searchAddress.datavalue.streetNumber+&quot;, &quot;+Widgets.searchAddress.datavalue.streetName+&quot;, &quot;+Widgets.searchAddress.datavalue.streetDirection+&quot;, &quot;+Widgets.searchAddress.datavalue.unitNumber+&quot;, &quot;+Widgets.searchAddress.datavalue.city+&quot;, &quot;+Widgets.searchAddress.datavalue.postalCode"
                                show="bind:Widgets.searchAddress.datavalue!=undefined"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="1" name="gridcolumn45"></wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow23">
                            <wm-gridcolumn columnwidth="1" name="gridcolumn49"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="10" name="gridcolumn50" horizontalalign="center">
                                <wm-button class="btn-default btn-primary" caption="Add" type="button" margin="unset 0.5em" name="buttonAddByAddress" iconclass="wi wi-add" show="bind:Widgets.searchAddress.datavalue!=undefined" on-click="buttonAddByAddressClick($event, $scope)"></wm-button>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="1" name="gridcolumn51"></wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                </wm-tabpane>
                <wm-tabpane name="tabpane9" title="BY SUBDIVISION">
                    <wm-layoutgrid name="layoutgrid9">
                        <wm-gridrow name="gridrow40_1" padding="unset unset .5em unset">
                            <wm-gridcolumn columnwidth="1" name="gridcolumn95_1"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="10" name="gridcolumn96_1">
                                <wm-search placeholder="Search Subdivision" dataset="bind:Variables.Subdivisions.dataSet" searchkey="subShortCode,subdivision" displaylabel="bind:$[data[$i].subdivision]+'-->'+$[data[$i].subShortCode]" datafield="All Fields"
                                name="searchFliterSubdivisions"></wm-search>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="1" name="gridcolumn97_1"></wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow24">
                            <wm-gridcolumn columnwidth="1" name="gridcolumn52"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="10" name="gridcolumn53">
                                <wm-search placeholder="Search Lot" dataset="bind:Variables.GISLotRecords.dataSet" searchkey="lot" displaylabel="bind:$[data[$i].lot]+'-->'+$[data[$i].streetNumber]+', '+$[data[$i].streetDirection]+', '+$[data[$i].streetName]+', '+$[data[$i].city]"
                                datafield="All Fields" name="searchSubdivision" show="bind:Widgets.searchFliterSubdivisions.datavalue!=undefined"></wm-search>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="1" name="gridcolumn54"></wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow25">
                            <wm-gridcolumn columnwidth="1" name="gridcolumn55"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="10" horizontalalign="center" name="gridcolumn56">
                                <wm-label padding="unset 0.5em" class="h4" name="label12" show="bind:Widgets.searchSubdivision.datavalue!=undefined" caption="ADDRESS"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="1" name="gridcolumn57"></wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow padding=".5em unset" name="gridrow26">
                            <wm-gridcolumn columnwidth="1" name="gridcolumn58"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="10" horizontalalign="center" name="gridcolumn59">
                                <wm-label padding="unset 0.5em" caption="bind:Widgets.searchSubdivision.datavalue.streetNumber+&quot;, &quot;+Widgets.searchSubdivision.datavalue.streetName+&quot;, &quot;+Widgets.searchSubdivision.datavalue.streetDirection+&quot;, &quot;+Widgets.searchSubdivision.datavalue.unitNumber+&quot;, &quot;+Widgets.searchSubdivision.datavalue.city+&quot;, &quot;+Widgets.searchSubdivision.datavalue.postalCode"
                                show="bind:Widgets.searchSubdivision.datavalue!=undefined" name="label13"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="1" name="gridcolumn60"></wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow27">
                            <wm-gridcolumn columnwidth="1" name="gridcolumn61"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="10" horizontalalign="center" name="gridcolumn62">
                                <wm-button class="btn-default btn-primary" caption="Add" type="button" margin="unset 0.5em" iconclass="wi wi-add" name="buttonAddBySubdivision" show="bind:Widgets.searchSubdivision.datavalue!=undefined" on-click="buttonAddBySubdivisionClick($event, $scope)"></wm-button>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="1" name="gridcolumn63"></wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                </wm-tabpane>
                <wm-tabpane name="tabpane10" title="BY PARCEL">
                    <wm-layoutgrid name="layoutgrid10">
                        <wm-gridrow name="gridrow28">
                            <wm-gridcolumn columnwidth="1" name="gridcolumn64"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="10" name="gridcolumn65">
                                <wm-search placeholder="Search Parcel" dataset="bind:Variables.GISRecords.dataSet" searchkey="parcel" displaylabel="bind:$[data[$i].parcel]+&quot;-->&quot;+$[data[$i].streetNumber]+', '+$[data[$i].streetDirection]+', '+$[data[$i].streetName]+', '+$[data[$i].city]"
                                datafield="All Fields" name="searchParcel"></wm-search>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="1" name="gridcolumn66"></wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow41_1">
                            <wm-gridcolumn columnwidth="1" name="gridcolumn98_1"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="10" name="gridcolumn99">
                                <wm-label padding="unset 0.5em" name="label23_1" caption="Example: 13-11-21-00-08-010.000"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="1" name="gridcolumn100"></wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow29">
                            <wm-gridcolumn columnwidth="1" name="gridcolumn67"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="10" horizontalalign="center" name="gridcolumn68">
                                <wm-label padding="unset 0.5em" class="h4" name="label14" show="bind:Widgets.searchParcel.datavalue!=undefined" caption="ADDRESS"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="1" name="gridcolumn69"></wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow padding=".5em unset" name="gridrow30">
                            <wm-gridcolumn columnwidth="1" name="gridcolumn70"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="10" horizontalalign="center" name="gridcolumn71">
                                <wm-label padding="unset 0.5em" caption="bind:Widgets.searchParcel.datavalue.streetNumber+&quot;, &quot;+Widgets.searchParcel.datavalue.streetName+&quot;, &quot;+Widgets.searchParcel.datavalue.streetDirection+&quot;, &quot;+Widgets.searchParcel.datavalue.unitNumber+&quot;, &quot;+Widgets.searchParcel.datavalue.city+&quot;, &quot;+Widgets.searchParcel.datavalue.postalCode"
                                show="bind:Widgets.searchParcel.datavalue!=undefined" name="label15"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="1" name="gridcolumn72"></wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow31">
                            <wm-gridcolumn columnwidth="1" name="gridcolumn73"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="10" horizontalalign="center" name="gridcolumn74">
                                <wm-button class="btn-default btn-primary" caption="Add" type="button" margin="unset 0.5em" iconclass="wi wi-add" name="buttonAddByParcel" show="bind:Widgets.searchParcel.datavalue!=undefined" on-click="buttonAddByParcelClick($event, $scope)"></wm-button>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="1" name="gridcolumn75"></wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                </wm-tabpane>
            </wm-tabs>
        </wm-dialog>
    </wm-view>
    <wm-view class="dialog-view" name="viewParcel">
        <wm-dialog dialogtype="design-dialog" modal="true" title="Parcel Details" iconclass="wi wi-file-text" name="dialogParcel">
            <wm-layoutgrid name="layoutgrid10_1">
                <wm-gridrow name="gridrow30_1">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn72_1">
                        <wm-label padding="unset 0.5em" caption="Parcel" name="label12_1"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn73_1">
                        <wm-label padding="unset 0.5em" caption="bind:Widgets.gridLocation.selecteditem.gisrecords.parcel" name="label13_1"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow31_1">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn74_1">
                        <wm-label padding="unset 0.5em" caption="Street Number" name="label14_1"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn75_1">
                        <wm-label padding="unset 0.5em" caption="bind:Widgets.gridLocation.selecteditem.gisrecords.streetNumber" name="label15_1"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow32">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn76">
                        <wm-label padding="unset 0.5em" caption="Street Name" name="label16"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn77">
                        <wm-label padding="unset 0.5em" caption="bind:Widgets.gridLocation.selecteditem.gisrecords.streetName" name="label21"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow33">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn78">
                        <wm-label padding="unset 0.5em" caption="Unit Number" name="label17"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn79">
                        <wm-label padding="unset 0.5em" caption="bind:Widgets.gridLocation.selecteditem.gisrecords.lot" name="label20"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow34">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn80">
                        <wm-label padding="unset 0.5em" caption="Subdivision" name="label18"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn81">
                        <wm-label padding="unset 0.5em" caption="bind:Widgets.gridLocation.selecteditem.gisrecords.subdivisions.subdivision" name="label19"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
            <wm-dialogactions name="dialogactions2">
                <wm-button class="btn-secondary" caption="Close" on-click="closeDialog()" name="button7" iconclass="wi wi-cancel"></wm-button>
            </wm-dialogactions>
        </wm-dialog>
    </wm-view>
    <wm-view class="dialog-view" name="view4">
        <wm-dialog dialogtype="design-dialog" modal="true" title="Form Submitted" iconclass="wi wi-check-circle" name="dlgFormSubmitted" on-close="Variables.goToPage_UserOpenForms.invoke()">
            <wm-layoutgrid name="layoutgrid12_1">
                <wm-gridrow name="gridrow45">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn106" horizontalalign="center">
                        <wm-label padding="unset 0.5em" name="label28" caption="Your form has been submitted successfully."></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
            <wm-dialogactions name="dialogactions3">
                <wm-button class="btn-primary" caption="OK" on-click="closeDialog();Variables.goToPage_UserOpenForms.invoke()" name="button10" iconclass="wi wi-check"></wm-button>
            </wm-dialogactions>
        </wm-dialog>
    </wm-view>
</wm-page>