.muni-logo {
    max-width: 240px;
    max-height: 240px;
    width: auto !important;
    height: auto !important;
}

div[name=panelForm] > div.panel-content {
    min-height: 800px;
}


ul.app-search.dropdown-menu {
    z-index: 99999999 !important;
}