.wm-app .app-header,
.wm-app .app-mobile-header {
    background-color: rgba(230, 218, 218, 0.65);
}
.app-picture {
    width: 100px;
    height: 60px;
    vertical-align: baseline !important;
}
.wm-app .form-control,
.wm-app .form-group + .form-control {
    height: 38px;
}
.form-group input.form-control {
    margin-bottom: 9px;
}
.form-group textarea.form-control {
    margin-bottom: 9px;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}
label.app-radioset-label.disabled > input + .caption:before,
div.app-checkbox label.disabled.unchecked input[type=checkbox] + .caption:before {
    -moz-box-shadow: inset 0 0 0 3px #aaa;
    -webkit-box-shadow: inset 0 0 0 3px #aaa;
    box-shadow: inset 0 0 0 3px #aaa;
    background-color: #aaa;
}
label.app-radioset-label.disabled > input:checked + .caption:before,
div.app-checkbox label.disabled input[type=checkbox] + .caption:before {
    border: 2px #555 solid;
    background-color: #555;
}